@charset "UTF-8";

body{
    background: url(https://wallpapercave.com/wp/wp2554925.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
#naveen{
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    height: 550px;
}
#loginform{
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    border: 2px solid rgba(255,255,255,0.18);
    height: auto;
    width: auto;
    padding: 30px;
    display: flex;
   
    justify-content: space-evenly;
    align-items: center;
   
}
tbody tr td{
    column-gap: 10px;
    row-gap: 30px;
    padding: 10px;
    font-size: 20px;
    font-weight: 800;
    

   }

#generate{
    width: 100%;
    font-weight: 600;
    cursor: pointer;
}
#submit{
    width: 100%;
    font-weight: 600;
    cursor: pointer;
}
#signup{
    width: 100%;
    font-weight: 600;
    cursor: pointer;
}
button:hover{
    box-shadow: 1px 1px 10px solid yellow;
}